.modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000095;
    overflow: hidden;
    max-width: 100vw !important;
}

.modal-title {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 15px;
}

.modal-container {
    background: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.14), 2px 2px 5px rgba(0, 0, 0, 0.1), inset 2px 2px 2px rgba(255, 255, 255, 0.12);
    min-width: 650px;
    padding: 15px 15px
}

.modal-close-button {
    cursor: pointer;
    margin-top: 15px;
}

.modal-close-button:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.modal-close-button-container {
    width: 50px;
}

@media only screen and (max-width: 768px) {
    .modal {
        background-color: #000000;
    }

    .modal-container {
        min-width: 100vw;
        min-height: 100vh;
        height: 100%;
        box-shadow:none;
        background:none;
        margin: 15px 0;
        padding: 13px 12px;
    }

    .modal-title {
        font-size: 24px;
    }

    .modal-title-row {
        min-height: 50px;
    }

    .modal-content-row {
        height: calc(100vh - 60px);
    }

    .modal-container {
        border-width: 0;
        padding: 0;
    }
}