.main-screen {
  background-color: #FFFFFF;
  z-index:0
}

.container-fluid {
  max-width: 1400px;
}

body {
  --sos-accent-flont: Montserrat, serif;
  --sos-content-flont: Dosis;
  --sos-accent-color: #00c38b;
  --sos-accent-alt-color: #c7c7c7;
  font-family: var(--sos-accent-flont);
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.popover-header,
.popover-body {
  font-family: var(--sos-accent-flont);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

h1 {
  font-family:  var(--sos-accent-flont);
  color: var(--sos-accent-color);
  font-size: 90px;
  font-weight: 800;
}

h2 {
  font-family:  var(--sos-accent-flont);
  color: var(--sos-accent-color);
  font-size: 60px;
  font-weight: 800;
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.form-control,
.form-control:focus{
  background-color: black;
  border-radius: 0;
  color: white;
  border-color: white !important;
  box-shadow: none !important;
}

.sos-button,
.sos-button:focus {
  opacity: 1;
  border-width: 0;
  background-color: var(--sos-accent-color);
  cursor: pointer;
  box-shadow: none !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}

.sos-button:hover,
.sos-button:active {
  background-color: var(--sos-accent-alt-color);
  color: black;
}

.sos-button:disabled {
  opacity: 1;
  border-width: 2px;
  border-color: #c7c7c7;
  background-color: #505050;
  cursor: pointer;
  box-shadow: none !important;
  border-radius: 25px;
  padding: 10px 20px;
  color: #c7c7c7;
}

.sos-button-secondary,
.sos-button-secondary:focus {
  opacity: 1;
  border-width: 2px;
  border-color: #c2c2c2;
  background-color: black;
  cursor: pointer;
  box-shadow: none !important;
  border-radius: 25px;
  padding: 10px 20px;
  color: #c2c2c2;
}

.sos-button-secondary:disabled {
  opacity: 1;
  border-width: 2px;
  border-color: #898989;
  background-color: #505050;
  cursor: auto;
  box-shadow: none !important;
  padding: 10px 20px;
  color: #898989;
}

.sos-button-secondary:hover,
.sos-button-secondary:active {
  background-color: white;
  border-color: white;
  color: black;
}

@media (max-width: 575.98px) {
  .row>* {
    padding-right: calc(var(--bs-gutter-x) * .45);
    padding-left: calc(var(--bs-gutter-x) * .45);
  }
}




